site_name: LLM RL Fine-tuning
site_description: Technical documentation and notes on RL methods for LLM fine-tuning
site_author: Saurabh Goyal
theme:
  name: material
  features:
    - mathjax

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.details

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Methods:
      - Proximal Policy Optimization (PPO): methods/ppo.md
      - Direct Policy Optimization (DPO): methods/dpo.md
      - Direct Rewards Policy Optimization (DRPO Offline): methods/drpo.md
      - Decoupled Rewards Policy Optimization (DRPO): methods/decoupled_rpo.md
      - Guided Rewards Policy Optimization (GRPO): methods/guided_rpo.md
      - Grouped Relative Policy Optimization (Deepseek GRPO): methods/grouped_relative_po_deepseek.md
  - Advanced Topics:
      - KL Penalty: advanced_topics/kl_penalty.md
      - Deepseek RL Fine-tuning: advanced_topics/deepseek_rl_finetuning.md
      - Rewards Hacking: advanced_topics/rewards_hacking.md
      - Loop (Apple 2025): advanced_topics/loop.md
  - References: references.md
